body
{
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
}
.container
{
    position: absolute;
    left:48%;
    top: 45%;
    transform: translate(-50%,-50%);
    padding:10px;
}
input
{
    outline:none;
    box-sizing: border-box;
    height:60px;
    width: 0px;
    border-radius:50px;
    padding:0 20px;
    color:#8b5c7e;
    border: 2px solid #8b5c7e;
    transition: all 0.7s ease;
}
.btn
{
    position: absolute;
    right:0px;
    top: 5px;
    width:70px;
    height:70px;
    line-height:70px;
    background:#8b5c7e;
    text-align:center;
    border-radius:50px;
    cursor: pointer;
    transition: 0.5s;
}
.btn i
{
    font-size: 23px;
    color:white;
    line-height:70px;
    transition: all 0.7s ease;
}
.container:hover input{
    width: 300px;
}
.container:hover i{
    transform: rotate(-360deg);
}
.btn:hover{
    background-color:#8b5c7e;
    
}

::placeholder
{
    font-size:20px;
    font-weight:bold;
    color:#8b5c7e;
}